In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [129]:
data = pd.read_csv(r'C:\Users\levino\OneDrive - CATENO GESTAO DE CONTAS DE PAGAMENTO S.A\Área de Trabalho\SR-main\SR-main\BD\TRANSACOES.csv')
data.head()

,ID,ID_CLIENTE,ID_PRODUTO,TIPO_TRANSACAO,TIPO_CD,VALOR,DATA,STATUS,ORIGEM,DESTINO,...,DATA_NASCIMENTO,TELEFONE,CELULAR,EMAIL,STATUS.1,ID.2,TIPO,DESCRICAO,VALOR.1,STATUS.2
0,1,1,1,COMPRA,D,1234,2022-05-23 19:07:07,ATIVO,RICO INVESTIMENTOS,NaN,...,1992-09-25 00:00:00,1123456789,11987653210,rm337029@fiap.com.br,ATIVO,1,RENDA FIXA,CDB XPTO,123,ATIVO
1,2,1,2,COMPRA,D,5677,2022-05-23 19:07:07,ATIVO,RICO INVESTIMENTOS,NaN,...,1992-09-25 00:00:00,1123456789,11987653210,rm337029@fiap.com.br,ATIVO,2,RENDA FIXA,LCI ABCD,456,ATIVO
2,3,1,3,COMPRA,D,6345,2022-05-23 19:07:07,ATIVO,RICO INVESTIMENTOS,NaN,...,1992-09-25 00:00:00,1123456789,11987653210,rm337029@fiap.com.br,ATIVO,3,RENDA FIXA,LCA EFGH,789,ATIVO
3,4,2,4,COMPRA,D,324,2022-05-23 19:07:07,ATIVO,XP INVESTIMENTOS,NaN,...,1999-12-05 00:00:00,1153456789,11887653210,rm347029@fiap.com.br,ATIVO,4,RENDA VARIAVEL,FII,123,ATIVO
4,5,2,5,COMPRA,D,234,2022-05-23 19:07:07,ATIVO,XP INVESTIMENTOS,NaN,...,1999-12-05 00:00:00,1153456789,11887653210,rm347029@fiap.com.br,ATIVO,5,RENDA VARIAVEL,EFI123,123,ATIVO

In [130]:
import csv
dict_from_csv = {}

with open(r'C:\Users\levino\OneDrive - CATENO GESTAO DE CONTAS DE PAGAMENTO S.A\Área de Trabalho\SR-main\SR-main\BD\TRANSACOES.csv') as data:
   # data.drop(columns=['DATA_NASCIMENTO', 'TELEFONE', 'EMAIL', 'STATUS', 'TIPO_CD', 'TIPO_TRANSACAO', 'STATUS.1', 'ID.2', 'CELULAR', 'DOCUMENTO', 'TIPO_PESSOA', 'STATUS.2', 'ID.1', 'ID', 'ID_CLIENTE', 'ID_PRODUTO', 'VALOR', 'DATA','ORIGEM', 'DESTINO'])
    reader = csv.reader(data)
    dict_from_csv = {rows[0]:rows[1] for rows in reader}
    dict_from_csv

In [131]:
dict_from_csv

{'ID': 'ID_CLIENTE',
 '1': '1',
 '2': '1',
 '3': '1',
 '4': '2',
 '5': '2',
 '6': '2',
 '7': '3',
 '8': '3',
 '9': '3',
 '10': '4',
 '11': '4',
 '12': '5'}

In [104]:
dt =data.drop(columns=['DATA_NASCIMENTO','TIPO', 'TELEFONE', 'EMAIL', 'STATUS', 'TIPO_CD', 'TIPO_TRANSACAO', 'STATUS.1', 'ID.2', 'CELULAR', 'DOCUMENTO', 'TIPO_PESSOA', 'STATUS.2', 'ID.1', 'ID', 'ID_CLIENTE', 'ID_PRODUTO', 'VALOR', 'TIPO','DATA','ORIGEM', 'DESTINO'])

In [105]:
dt

                 NOME DESCRICAO  VALOR.1
0       SARA PINHEIRO  CDB XPTO      123
1       SARA PINHEIRO  LCI ABCD      456
2       SARA PINHEIRO  LCA EFGH      789
3        IGOR JOHANES       FII      123
4        IGOR JOHANES    EFI123      123
5        IGOR JOHANES      FII3      123
6   HENRIQUE OLIVEIRA     MGLU3      367
7   HENRIQUE OLIVEIRA     VIIA3      300
8   HENRIQUE OLIVEIRA     CPLE6      747
9          JOÃO SILVA  CDB XPTO      123
10         JOÃO SILVA  LCI ABCD      456
11     CRISTINA SOUZA    EFI123      123

In [ ]:
#filtrando um usuário
df_filtro = dt[(dt['NOME']=='SARA PINHEIRO')]

In [ ]:
df_filtro

In [ ]:
#--------------------------------------- novo teste

In [301]:
clientes = {    'SARA PINHEIRO': 
				{'CDB XPTO': 456, 
				 'LCI ABCD': 457,
				 'LCA EFGH': 458
                },

                'IGOR JOHANES': 
				{'FII': 121, 
				 'EFI123': 243,
				 'FII3': 123
                },

                'HENRIQUE OLIVEIRA': 
				{'MGLU3': 367, 
				 'VIIA3': 369,
				 'CPLE6': 747
                },
			 
                'JOÃO SILVA': 
				{'CDB XPTO': 458, 
				 'LCI ABCD': 456,
                },
            
                'CRISTINA SOUZA':
                {'EFI123': 123,
                 'FII3': 234,
                 'CPLE6': 748

                },
            
                'RICHARD MOTA':
                {'LCA EFGH': 459,
                 'VIIA3': 370,
                },
            
                'PAULO HENRIQUE':
                {'LCA EFGH': 479,
                 'VIIA3': 372,
                 'EFI123': 344,
                }
            
}

In [302]:
clientes['SARA PINHEIRO']

{'CDB XPTO': 456, 'LCI ABCD': 457, 'LCA EFGH': 458}

In [303]:
def distEuclidianaSimilaridade(usuario1,usuario2):
    si = {}
    if not usuario1 in clientes: return -1
    if not usuario2 in clientes: return -2
    for item in clientes[usuario1]:
        if item in clientes[usuario2]: 
            si[item] = 1
        
    if len(si)==0: 
        return 0
        
    soma = sum([pow(clientes[usuario1][item] - clientes[usuario2][item], 2)
             for item in clientes[usuario1] if item in clientes[usuario2]])
    return 1/(1+sqrt(soma))
    # return sqrt(soma)

#distancia euclidiada + calculo de similaridade

In [304]:
distEuclidianaSimilaridade('SARA PINHEIRO','JOÃO SILVA')

0.3090169943749474

In [305]:
distEuclidianaSimilaridade('IGOR JOHANES','CRISTINA SOUZA')

0.006080299128364646

In [306]:
distEuclidianaSimilaridade('IGOR JOHANES','HENRIQUE OLIVEIRA')

0

In [307]:
def similaridade(usuario1, usuario2):
  soma = euclidiana(usuario1, usuario2)
  return 1/(1+soma)
#calculo de similaridade separado

In [308]:
similaridade('SARA PINHEIRO','JOÃO SILVA')

0.3090169943749474

In [309]:
similaridade('IGOR JOHANES','CRISTINA SOUZA')

0.006080299128364646

In [310]:
similaridade('IGOR JOHANES','HENRIQUE OLIVEIRA')

-0.5

In [311]:
def getSimilaridadeUsu(usuario):
    listaSimilaridade = [(distEuclidianaSimilaridade(usuario, usuarios), usuarios) 
                for usuarios in clientes if usuarios != usuario]#pegando todos os usuários diferente do informado
    listaSimilaridade.sort()
    listaSimilaridade.reverse()
    return listaSimilaridade

In [312]:
getSimilaridadeUsu('IGOR JOHANES')

[(0.00980392156862745, 'PAULO HENRIQUE'),
 (0.006080299128364646, 'CRISTINA SOUZA'),
 (0, 'SARA PINHEIRO'),
 (0, 'RICHARD MOTA'),
 (0, 'JOÃO SILVA'),
 (0, 'HENRIQUE OLIVEIRA')]

In [313]:
getSimilaridadeUsu('SARA PINHEIRO')

[(0.5, 'RICHARD MOTA'),
 (0.3090169943749474, 'JOÃO SILVA'),
 (0.045454545454545456, 'PAULO HENRIQUE'),
 (0, 'IGOR JOHANES'),
 (0, 'HENRIQUE OLIVEIRA'),
 (0, 'CRISTINA SOUZA')]

In [314]:
getSimilaridadeUsu('HENRIQUE OLIVEIRA')

[(0.5, 'RICHARD MOTA'),
 (0.5, 'CRISTINA SOUZA'),
 (0.25, 'PAULO HENRIQUE'),
 (0, 'SARA PINHEIRO'),
 (0, 'JOÃO SILVA'),
 (0, 'IGOR JOHANES')]

In [315]:
getSimilaridadeUsu('JOÃO SILVA')

[(0.3090169943749474, 'SARA PINHEIRO'),
 (0, 'RICHARD MOTA'),
 (0, 'PAULO HENRIQUE'),
 (0, 'IGOR JOHANES'),
 (0, 'HENRIQUE OLIVEIRA'),
 (0, 'CRISTINA SOUZA')]

In [316]:
def listaClienteSimilar(clientes):
    result = {}
    for item in clientes:
        valor = getSimilaridadeUsu(item)
        result[item] = valor
    return result
#calculamos o valor da similaridade de um cliente com todos da base, para já realizar uma prévia recomendação.
#item por usuário

In [317]:
listaClienteSimilares = listaClienteSimilar(clientes)
listaClienteSimilares

{'SARA PINHEIRO': [(0.5, 'RICHARD MOTA'),
  (0.3090169943749474, 'JOÃO SILVA'),
  (0.045454545454545456, 'PAULO HENRIQUE'),
  (0, 'IGOR JOHANES'),
  (0, 'HENRIQUE OLIVEIRA'),
  (0, 'CRISTINA SOUZA')],
 'IGOR JOHANES': [(0.00980392156862745, 'PAULO HENRIQUE'),
  (0.006080299128364646, 'CRISTINA SOUZA'),
  (0, 'SARA PINHEIRO'),
  (0, 'RICHARD MOTA'),
  (0, 'JOÃO SILVA'),
  (0, 'HENRIQUE OLIVEIRA')],
 'HENRIQUE OLIVEIRA': [(0.5, 'RICHARD MOTA'),
  (0.5, 'CRISTINA SOUZA'),
  (0.25, 'PAULO HENRIQUE'),
  (0, 'SARA PINHEIRO'),
  (0, 'JOÃO SILVA'),
  (0, 'IGOR JOHANES')],
 'JOÃO SILVA': [(0.3090169943749474, 'SARA PINHEIRO'),
  (0, 'RICHARD MOTA'),
  (0, 'PAULO HENRIQUE'),
  (0, 'IGOR JOHANES'),
  (0, 'HENRIQUE OLIVEIRA'),
  (0, 'CRISTINA SOUZA')],
 'CRISTINA SOUZA': [(0.5, 'HENRIQUE OLIVEIRA'),
  (0.006080299128364646, 'IGOR JOHANES'),
  (0.0045045045045045045, 'PAULO HENRIQUE'),
  (0, 'SARA PINHEIRO'),
  (0, 'RICHARD MOTA'),
  (0, 'JOÃO SILVA')],
 'RICHARD MOTA': [(0.5, 'SARA PINHEIRO'),
  (0.5, 'HENRIQUE OLIVEIRA'),
  (0.047393923678019305, 'PAULO HENRIQUE'),
  (0, 'JOÃO SILVA'),
  (0, 'IGOR JOHANES'),
  (0, 'CRISTINA SOUZA')],
 'PAULO HENRIQUE': [(0.25, 'HENRIQUE OLIVEIRA'),
  (0.047393923678019305, 'RICHARD MOTA'),
  (0.045454545454545456, 'SARA PINHEIRO'),
  (0.00980392156862745, 'IGOR JOHANES'),
  (0.0045045045045045045, 'CRISTINA SOUZA'),
  (0, 'JOÃO SILVA')]}

In [318]:
df = pd.concat({k: pd.Series(v) 
                    for k, v in listaClienteSimilares.items()}).reset_index()
df.columns = ['NomeOrigem','Similaridade','Destino']
print(df)

           NomeOrigem  Similaridade                                  Destino
0       SARA PINHEIRO             0                      (0.5, RICHARD MOTA)
1       SARA PINHEIRO             1         (0.3090169943749474, JOÃO SILVA)
2       SARA PINHEIRO             2   (0.045454545454545456, PAULO HENRIQUE)
3       SARA PINHEIRO             3                        (0, IGOR JOHANES)
4       SARA PINHEIRO             4                   (0, HENRIQUE OLIVEIRA)
5       SARA PINHEIRO             5                      (0, CRISTINA SOUZA)
6        IGOR JOHANES             0    (0.00980392156862745, PAULO HENRIQUE)
7        IGOR JOHANES             1   (0.006080299128364646, CRISTINA SOUZA)
8        IGOR JOHANES             2                       (0, SARA PINHEIRO)
9        IGOR JOHANES             3                        (0, RICHARD MOTA)
10       IGOR JOHANES             4                          (0, JOÃO SILVA)
11       IGOR JOHANES             5                   (0, HENRIQUE OLIVEIRA)
12  HENRIQUE OLIVEIRA             0                      (0.5, RICHARD MOTA)
13  HENRIQUE OLIVEIRA             1                    (0.5, CRISTINA SOUZA)
14  HENRIQUE OLIVEIRA             2                   (0.25, PAULO HENRIQUE)
15  HENRIQUE OLIVEIRA             3                       (0, SARA PINHEIRO)
16  HENRIQUE OLIVEIRA             4                          (0, JOÃO SILVA)
17  HENRIQUE OLIVEIRA             5                        (0, IGOR JOHANES)
18         JOÃO SILVA             0      (0.3090169943749474, SARA PINHEIRO)
19         JOÃO SILVA             1                        (0, RICHARD MOTA)
20         JOÃO SILVA             2                      (0, PAULO HENRIQUE)
21         JOÃO SILVA             3                        (0, IGOR JOHANES)
22         JOÃO SILVA             4                   (0, HENRIQUE OLIVEIRA)
23         JOÃO SILVA             5                      (0, CRISTINA SOUZA)
24     CRISTINA SOUZA             0                 (0.5, HENRIQUE OLIVEIRA)
25     CRISTINA SOUZA             1     (0.006080299128364646, IGOR JOHANES)
26     CRISTINA SOUZA             2  (0.0045045045045045045, PAULO HENRIQUE)
27     CRISTINA SOUZA             3                       (0, SARA PINHEIRO)
28     CRISTINA SOUZA             4                        (0, RICHARD MOTA)
29     CRISTINA SOUZA             5                          (0, JOÃO SILVA)
30       RICHARD MOTA             0                     (0.5, SARA PINHEIRO)
31       RICHARD MOTA             1                 (0.5, HENRIQUE OLIVEIRA)
32       RICHARD MOTA             2   (0.047393923678019305, PAULO HENRIQUE)
33       RICHARD MOTA             3                          (0, JOÃO SILVA)
34       RICHARD MOTA             4                        (0, IGOR JOHANES)
35       RICHARD MOTA             5                      (0, CRISTINA SOUZA)
36     PAULO HENRIQUE             0                (0.25, HENRIQUE OLIVEIRA)
37     PAULO HENRIQUE             1     (0.047393923678019305, RICHARD MOTA)
38     PAULO HENRIQUE             2    (0.045454545454545456, SARA PINHEIRO)
39     PAULO HENRIQUE             3      (0.00980392156862745, IGOR JOHANES)
40     PAULO HENRIQUE             4  (0.0045045045045045045, CRISTINA SOUZA)
41     PAULO HENRIQUE             5                          (0, JOÃO SILVA)

In [319]:
# Gera arquivo saída publico
df.to_csv (r'C:/Users/levino/Recomendação/recomendacaoML.csv', index = False, header=True)

In [320]:
#FINALIZADOOOOOOOO!!! \O/